<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @reservation.name %></h1>
    <p>
      You have successfully reserved up to <%= @reservation.restourant.name %>.<br>
    </p>
    <p>
      The table is serveced for <%= @reservation.datetime %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
