<table>
  <thead>
    <tr>
      <th width="200">Restourant Name</th>
    </tr>
  </thead>
  <tbody>
    <% @restourants.each do |restourant| %>
    <tr>
      <td><%= restourant.name %></td>
      <td><%= link_to "show", restourant_path(restourant) %></td>
    </tr>
    <% end %>
    <% if @owner %>
        <tr>
          <td><%= link_to "Insert a new Restourant", new_restourant_path %></td>
        </tr>
      <tr>
          <td><%= link_to "Show the reservations", reservations_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
