<h1><th width="200">Restourants</th></h1>

<% @restourants.each do |restourant| %>
  <h2><%= restourant.name %></h2>
  <%= link_to "show", restourant_path(restourant), class: 'btn btn-info' %>
<% end %>

<% if @owner %>
  <%= link_to "New Restourant", new_restourant_path, class: 'btn btn-default' %>
  <%= link_to "Reservations", reservations_path,class: 'btn btn-default' %>
<% end %>
